@model Library.Models.BookModel

@{
    ViewData["Title"] = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script type="text/javascript">
        function fetchBookList() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("BookList", "Home")",
                success: function (data) {
                    $("#BookDetail").html(data);
                }
            });
        }

        function closeModal() {
            $("#BookModal").modal("hide");
            $("#BookName").val('');
            $("#Author").val('');
        }

        $(document).ready(function () {

            fetchBookList();

            $("#OpenModalBtn").click(function () {
                $("#BookModal").modal({ backdrop: "static" });
                $("#BookModal").modal("show");
            })

            $("#CloseModalBtn").click(function () {
                closeModal();
            })

            $("#BookForm").submit(function (e) {
                e.preventDefault();

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Book", "Home")",
                    data: $("#BookForm").serialize(),
                    success: function (data) {
                        closeModal();
                        fetchBookList();
                    }
                });

            });
        });
    </script>
}

<h2>Welcome to the Library!</h2>

<h4>Look around and see our collection of books.</h4>
<hr />

<button class="btn btn-primary" id="OpenModalBtn">Create Book</button>

<hr />

<div class="row">
    <div class="modal" tabindex="-1" role="dialog" id="BookModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create a Book</h4>
                </div>
                <form asp-action="Book" id="BookForm">
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="BookName" class="control-label"></label>
                            <input asp-for="BookName" id="BookName" class="form-control" />
                            <span asp-validation-for="BookName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Author" class="control-label"></label>
                            <input asp-for="Author" id="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PublishedDate" class="control-label"></label>
                            <input asp-for="PublishedDate" id="PublishedDate" class="form-control" />
                            <span asp-validation-for="PublishedDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Create" id="SubmitBtn" class="btn btn-primary" />
                        <button type="button" class="btn btn-secondary" id="CloseModalBtn">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container" id="BookDetail">
    </div>
</div>