@model Library.Models.BorrowedBookModel

@{
    ViewData["Title"] = "BorrowBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrow Book</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BorrowBook">
            <partial name="BookModel" model="Model.Book" />
            <div hidden>
            @Html.EditorFor(e=>e.Book)
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.EditorFor(e => e.Borrower)
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
