@model Library.Models.BorrowedBookModel

@{
    ViewData["Title"] = "ReturnBook";
}


<div>
    <form asp-action="ReturnBook">
        <h2>@Html.DisplayFor(model => model.Book.BookName)</h2>
        <div hidden>
            @Html.EditorFor(e => e.Book)
        </div>
        <partial name="BookDetails" model="Model.Book" />
        <partial name="BorrowerDetail" model="Model.Borrower" />

        <div hidden>
            @Html.EditorFor(e => e.Borrower)
        </div>
        <div class="form-group">
            <input type="submit" value="Return" class="btn btn-default" />
        </div>
    </form>

</div>

<div>
    <a asp-action="Book">Back to List</a>
</div>
